extends ../../layouts/admin/layout_admin

block title 
  title Thêm Đối tác

block append style
  link(rel='stylesheet', href='/assets/css/partner_admin.min.css')

block content
  .admin-partner
    form(action='/admin/partner/save-partner', method='POST' id="form-partner" novalidate)
      input(type="hidden" name="_csrf" value=csrfToken)
      if partner && partner._id !== 'undefined'
        input(type="hidden" name="_id" value=partner._id)
      .form-group
        label(for='name-partner') Tên đối tác
        input#name-partner.form-control(
          name='name', 
          type='text', 
          placeholder='Nhập tên đối tác',
          value=partner && partner.name ? partner.name : '',
        )
      .form-group
        label(for='image-partner') Hình ảnh đối tác
        input#image-partner.form-control(
          name='image', 
          type='text',
          value=partner && partner.image ? partner.image : '',
        )
      .form-check.form-check-flat.form-check-primary.mb-3
        label.form-check-label
          input(type='checkbox').form-check-warning
          | Hiển thị trang chủ
      button.btn.btn-success.mr-2(type='submit') Lưu
      a.btn.btn-light(href="/admin/partner/list-partner") Trở lại

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
  script(src='/bower_components/jquery-validation/dist/additional-methods.min.js')
  script.
    $("#form-partner").validate({
      rules: {
        name: {
          required: true,
          minlength: 5,
        },
        image:{
          required: true,
          url: true,
        },
      },
      messages: {
        name: {
          required: "Vui lòng điền tên tên đối tác",
          minlength: "Tên đối tác ít nhất có 5 ký tự"
        },
        image:{
          required: "Vui lòng điền ảnh đối tác",
          url: "Vui lòng điền đúng định dạng url"
        },
      },
      errorPlacement: function(error, element) {
        $(error).addClass('text-danger mt-2');
        $(element).addClass('form-control-danger');

        error.insertAfter(element);
      }
    });

