extends ../../layouts/admin/layout_admin

block title 
  title Danh sách Đối tác

block append style
  link(rel='stylesheet', href='/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='/assets/css/partner_admin.min.css')
  

block content
  if messDelPartner && messDelPartner !== ''
    div.mb-4.mess-del
      h5=messDelPartner

  if messUpdatePartner && messUpdatePartner !== ''
    div.mb-4.mess-del
      h5=messUpdatePartner


  a.btn.btn-success.mb-3(href="/admin/partner/custom-partner") Thêm mới
  .table-responsive
    table.table.table-dark.table-bordered.table-hover#partner-table
      thead
        tr
          th(scope='col') ID
          th(scope='col') Tên đối tác
          th(scope='col') Ảnh đối tác
          th(scope='col') Ngày tạo
          th(scope='col') Ngày sửa
          th(scope='col') Hành động
      tbody
        if partners && partners.length
          each partner in partners
            tr
              th(scope='row')=partner.id ? partner.id : ''
              td=partner.name ? partner.name : ''
              td
                if partner.image && partner.image !== ''
                  a(title='Phóng to hình', rel='gallery', href=partner.image, data-fancybox='', data-caption=partner.name)
                    img(src=partner.image)
              td=partner.createdAt ? moment(partner.createdAt).format('DD/MM/YYYY HH:mm') : ''
              td=partner.updatedAt ? moment(partner.updatedAt).format('DD/MM/YYYY HH:mm') : ''
              td
                if partner._id
                  a.btn.btn-info.mr-2.mb-xl-0.mb-2(href="/admin/partner/custom-partner/" + partner._id) Xem
                  a.btn.btn-danger(href="/admin/partner/delete/" + partner._id) Xóa


  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
  script(src='/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  script.
    $(document).ready( function () {
      $('#partner-table').DataTable({
        "language": {
          "lengthMenu": "Hiển thị _MENU_ mục",
          "emptyTable":     "Không có dữ liệu nào trong bảng",
          "loadingRecords": "Đang tải...",
          "zeroRecords": "Không có mục nào được tìm thấy",
          "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ mục",
          "infoEmpty": "Không có mục nào có sẵn",
          "infoFiltered": "(Lọc từ _MAX_ mục)",
          "search": "Tìm kiếm:",
          "paginate": {
              "first":      "Đầu",
              "last":       "Cuối",
              "next":       "Sau",
              "previous":   "Trước"
          },
        },
        "order": [[ 0, "desc" ]],
        "pagingType": "full_numbers"
      });
      
    });

