extends ../../layouts/admin/layout_admin

block title 
  title Danh sách Slider

block append style
  link(rel='stylesheet', href='/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='/bower_components/sweetalert2/dist/sweetalert2.min.css')
  link(rel='stylesheet', href='/assets/css/slider_admin.min.css')
  

block content
  if messDelSlider && messDelSlider !== ''
    div.mb-4.mess-del
      h5=messDelSlider

      
  a.btn.btn-success.mb-3(href="/admin/slider/custom-slider") Thêm mới
  .table-responsive
    table.table.table-dark.table-bordered.table-hover#slider-table
      thead
        tr
          th(scope='col') ID
          th(scope='col') Tên Slider
          th(scope='col') Nội dung Slider
          th(scope='col') Ảnh Slider
          th(scope='col') Ngày tạo
          th(scope='col') Ngày sửa
          th(scope='col') Hành động
      tbody
        if sliders && sliders.length
          each slider in sliders
            tr
              th(scope='row')=slider.id ? slider.id : ''
              td=slider.name ? slider.name : ''
              td=slider.content ? slider.content : ''
              td
                if slider.image && slider.image !== ''
                  a(title='Phóng to hình', rel='gallery', href=slider.image, data-fancybox='', data-caption=slider.name)
                    img(src=slider.image)
              td=slider.createdAt ? moment(slider.createdAt).format('DD/MM/YYYY HH:mm') : ''
              td=slider.updatedAt ? moment(slider.updatedAt).format('DD/MM/YYYY HH:mm') : ''
              td
                if slider._id
                  a.btn.btn-info.mr-2.mb-xl-0.mb-2(href="/admin/slider/custom-slider/" + slider._id) Xem
                  button.btn.btn-danger.delete-alert(type='button', url-remove="/admin/slider/delete/" + slider._id) Xóa


  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')
  script(src='/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js')
  script(src='/bower_components/sweetalert2/dist/sweetalert2.min.js')
  script.
    $(document).ready( function () {
      $('#slider-table').DataTable({
        "language": {
          "lengthMenu": "Hiển thị _MENU_ mục",
          "emptyTable":     "Không có dữ liệu nào trong bảng",
          "loadingRecords": "Đang tải...",
          "zeroRecords": "Không có mục nào được tìm thấy",
          "info": "Hiển thị _START_ đến _END_ trong _TOTAL_ mục",
          "infoEmpty": "Không có mục nào có sẵn",
          "infoFiltered": "(Lọc từ _MAX_ mục)",
          "search": "Tìm kiếm:",
          "paginate": {
              "first":      "Đầu",
              "last":       "Cuối",
              "next":       "Sau",
              "previous":   "Trước"
          },
        },
        "order": [[ 0, "desc" ]],
        "pagingType": "full_numbers"
      });

      $('.delete-alert').click(function() {
        let url = $(this).attr('url-remove');

        Swal({
          title: 'Bạn chắc chắn chứ?',
          text: "Xóa vĩnh viễn sẽ không phục hồi lại được đâu nhé hihi!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Tôi đồng ý, Xóa!',
          cancelButtonText: 'Hủy bỏ'
        }).then((result) => {
          if (result.value) {
            Swal(
              'Xóa thành công!',
              'Bạn đã xóa danh mục thành công.',
              'success'
            ).then(function(res) {
              if (res) {
                if (url) window.location.replace(url);
              }
            });
          }
        })
      });
      
    });

    

  if messUpdateSlider && messUpdateSlider !== ''
    script.
      const toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });

      toast({
        type: 'success',
        title: '#{messUpdateSlider}'
      })

  if messDelSlider && messDelSlider !== ''
    script.
      const toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });

      toast({
        type: 'success',
        title: '#{messDelSlider}'
      })


