extends ../../layouts/admin/layout_admin

block title 
  title Thêm danh mục

block append style
  link(rel='stylesheet', href='/assets/css/category_admin.min.css')

block content
  if messCategory && messCategory !== ''
    div.mb-4.mess-create
      h5=messCategory
      
  .admin-category
    form(action='/admin/category/save-category', method='POST' id="form-category" novalidate)
      input(type="hidden" name="_csrf" value=csrfToken)
      if category && category._id !== 'undefined'
        input(type="hidden" name="_id" value=category._id)
      .form-group
        label(for='status') Trạng thái
        select#status.form-control(name='status')
          option Hiển thị
          option Ẩn
          option(value=category && category.name ? category.name : '')
      .form-group
        label(for='name-category') Tên danh mục
        input#name-category.form-control(
          name='name', 
          type='text', 
          placeholder='Nhập tên category',
          value=category && category.name ? category.name : '',
        )

      if category && category._id
        if category.parentId && !category.parentId._id.equals(category._id)
          .form-group
            label(for='categoryParentId') Thuộc danh mục
            select#categoryParentId.form-control(name='categoryParentId')
              option(value="") Danh mục cha
              if getListCategoryParent && getListCategoryParent.length > 0
                each categoryParent in getListCategoryParent
                  option(
                    selected=(category.isParent === false ? category.parentId._id.equals(categoryParent._id) : false), 
                    value=categoryParent._id,
                  ) #{categoryParent.name}
      else 
        .form-group
          label(for='categoryParentId') Thuộc danh mục
          select#categoryParentId.form-control(name='categoryParentId')
            option(value="") Danh mục cha
              if getListCategoryParent && getListCategoryParent.length > 0
                each categoryParent in getListCategoryParent
                  option(value=categoryParent._id) #{categoryParent.name}


      .form-group
        label(for='image-category') Ảnh đại diện danh mục
        input#image-category.form-control(
          name='image', 
          type='text',
          value=category && category.image ? category.image : '',
        )
      .form-check.form-check-flat.form-check-primary.mb-3
        label.form-check-label
          input(type='checkbox').form-check-warning
          | Hiển thị trang chủ
      button.btn.btn-success.mr-2(type='submit') Lưu
      a.btn.btn-light(href="/admin/category/list-category") Trở lại

  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
  script(src='/bower_components/jquery-validation/dist/additional-methods.min.js')
  script.
    $("#form-category").validate({
      rules: {
        name: {
          required: true,
        },
        image:{
          required: true,
          url: true,
        },
      },
      messages: {
        name: {
          required: "Vui lòng điền tên danh mục",
          minlength: "Tên danh mục ít nhất có 5 ký tự",
          maxlength: "Tên danh mục không quá 20 ký tự"
        },
        image:{
          required: "Vui lòng điền ảnh danh mục",
          url: "Vui lòng điền đúng định dạng url"
        },
      },
      errorPlacement: function(error, element) {
        $(error).addClass('text-danger mt-2');
        $(element).addClass('form-control-danger');

        error.insertAfter(element);
      }
    });


